.bag {
/*    background-image: linear-gradient(to left, #ADD8E6 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;*/
    background-image: url('../img/bg.png');
    background-size: cover; /* 图片将会填充整个容器 */
    background-repeat: no-repeat; /* 禁止重复平铺 */
}
