/* This was made with GlassGenerator.netlify.app */
body {
    position: relative;
    min-height: 100vh;
}

#radioForm {
    position: absolute;
    top: 10px; /* 可根据需要调整距离顶部的距离 */
    left: 20px; /* 可根据需要调整距离左侧的距离 */
}
.glass-container{
    width: 1000px;
    height: 600px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    /*background-color: rgba(0,191,255, 0.075);*/
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255,255,255,0.4) solid;
    border-bottom: 2px rgba(40,40,40,0.35) solid;
    border-right: 2px rgba(40,40,40,0.35) solid;
    position: absolute;
    top: 50%;
    left: 60%;
    flex-direction: column;
    padding: 20px; /* 可根据需要调整内边距 */
    transform: translate(-50%, -50%);
}
